@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- 全体 --- */

html {
  background: #a7d6ff;
}

body,
#root {
  @apply mx-auto;
  width: 93vw;
  max-width: 800px;
}

p,
a,
label {
  @apply text-base;
}

.haru-input {
  @apply font-semibold px-2 py-1 w-full bg-gray-200;
}

input {
  @apply block haru-input;
}

textarea {
  @apply haru-input block resize-none;
}

table {
  @apply w-full;
  -ms-writing-mode : tb-lr;
  writing-mode : vertical-lr;
}
th {
  @apply px-3 py-2 text-start text-gray-600 border-b border-solid border-gray-500;
  -ms-writing-mode : lr-tb;
  writing-mode : horizontal-tb;
}
td {
  @apply px-3 py-2 border-b border-solid border-gray-500;
  -ms-writing-mode : lr-tb;
  writing-mode : horizontal-tb;
}

option {
  @apply font-semibold;
}

/* .rbc-day-bg {
  @apply border border-solid border-gray-400;
} */

/* .rbc-row-segment {
  @apply flex w-1;
} */

/* 月のevent */
/* .rbc-event  {
  @apply w-1 h-1;
} */

/* 週のevent */
/* .rbc-event-label {
  @apply ;
} */

/* --- top画面 --- */

@layer components {
  .haru-btn {
    @apply block text-base px-2 py-1 mt-2 mb-2 rounded-md;
  }
  .haru-code-btn {
    @apply block px-1 mt-1 ml-auto rounded-md;
  }
  .haru-todo-list {
    @apply py-3 px-2 mt-3 mx-auto rounded-e-md border-l-4 border-solid bg-blue-400 bg-opacity-40;
  }
  /* .haru-todo-list {
    @apply haru-todo-list-block;
  } */
}

@layer utilities {
  .haru-btn-color {
    @apply bg-green-400;
  }
  .haru-code-btn {
    @apply bg-orange-300;
  }
  .haru-todo-list-font {
    @apply text-lg font-bold;
  }

  .haru-todo-list-black-color {
    @apply border-gray-600;
  }

  .haru-todo-list-blue-color {
    @apply border-blue-500;
  }

  .haru-todo-list-date {
    @apply flex text-sm text-gray-600;
  }
}

.haru-carendar-header-btn {
  @apply p-2;
}

.haru-carendar-header-change-btn {
  @apply px-2 py-1 ml-1 font-medium text-white bg-blue-500 rounded-md;
}

/* --- todo-add --- */

@layer components {
  .haru-underline {
    @apply border-b border-solid border-gray-600;
  }
}

@layer utilities {
  .haru-save-btn-color {
    @apply bg-blue-400;
  }
  .haru-delete-btn-color {
    @apply bg-red-400;
  }
  .haru-todo-error-color {
    @apply border-2 border-solid border-red-500;
  }
}
